<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: rgba(226, 129, 12, 0.833)">BarberHub</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Nombre:</ion-label>
    <ion-text style="color: white"><p>{{usuario?.nombre}}Evan Muñoz</p></ion-text> 
  </ion-item>

  <ion-item>
    <ion-label>Username:</ion-label>
    <ion-text>{{usuario?.correo}}Evan</ion-text>
  </ion-item>

  <ion-item>
    <ion-label>Email:</ion-label>
    <ion-text>{{usuario?.correo}}evanmunozmorales*gmail.com</ion-text>
  </ion-item>

  <ion-item>
    <ion-label>Fecha de Nacimiento:</ion-label>
    <ion-text>{{usuario?.correo}}17/04/2003</ion-text>
  </ion-item>
</ion-content>
