<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>FindCar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-item>
  <ion-label>Nombre:</ion-label>
  <ion-text>{{usuario?.nombre}}</ion-text>
</ion-item>

<ion-item>
  <ion-label>Username:</ion-label>
  <ion-text>{{usuario?.correo}}</ion-text>
</ion-item>

<ion-item>
  <ion-label>Email:</ion-label>
  <ion-text>{{usuario?.correo}}</ion-text>
</ion-item>

