/* src/theme/variables.scss */

/* Colores personalizados */
:root {

  --ion-toolbar-background: #1ab5c0; /* Color de fondo para encabezados o áreas importantes */
  --ion-text-color: #333333; /* Color de texto general */
}

h4, .ubi{
  display: flex; /* Usa flexbox para centrar el contenido */
  justify-content: center; /* Centra horizontalmente el botón */
  margin-top: 20px; /* Añade margen superior si es necesario */
}

ion-content {
  --background: none;
  background-image: url('/assets/imagenes/logo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  --background: rgba(255, 255, 255, 0.5);
}

/* Estilo para los ítems de la lista */
ion-list {
  --ion-background-color: #1ab5c0ab; /* Hace que la lista sea transparente */
}

ion-item {
  --background: transparent; /* Hace que cada ítem de la lista sea transparente */
  backdrop-filter: blur(5px); /* Añade un efecto de desenfoque a los ítems de la lista (opcional) */
}

// ion-card {
//   --background: #1ab5c0ab; /* Color de fondo del contenido con más transparencia */
// }
