<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>BarberHub</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="container-1" *ngFor="let reporte of reportes">
    <h4>Publicado el {{reporte.fecha_publicacion}}</h4>
    <img src="https://scontent.fscl22-1.fna.fbcdn.net/v/t1.6435-9/133139526_3494317893979078_4421004428671709138_n.jpg?stp=dst-jpg_p526x296&_nc_cat=105&ccb=1-7&_nc_sid=7b2446&_nc_ohc=gWKzZkEmX_4Q7kNvgE991t8&_nc_ht=scontent.fscl22-1.fna&_nc_gid=AWLzWrhB2WgYHXnf8QYh0pc&oh=00_AYA_aUUT4zGPiebTvo_aU4Q-NIyAfrpK8wW5ZlypO-NCIQ&oe=67004998" alt="Placeholder Image" class="responsive-img">

    <ion-list class="home">
      <ion-item >
        <ion-label>
          <h2>Región: {{ reporte.region }}</h2>
          <p>Tipo de Vehículo: {{ reporte.tipo_vehiculo }}</p>
          <p>Marca: {{ reporte.marca }}</p>
          <p>Modelo: {{ reporte.modelo }}</p>
          <p>Color: {{ reporte.color }}</p>
          <p>Patente: {{ reporte.patente }}</p>

        </ion-label>
      </ion-item>
    <ion-button class="ubi">Ver ubicación</ion-button>
    </ion-list>
  </div>

</ion-content>


