<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>BarberHub</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="container-1" *ngFor="let Barbero of Barberos">
    <h4>Publicado el {{Barbero.fecha_publicacion}}</h4>
    <img src="/assets/imagenes/logo.jpg" alt="Placeholder Image" class="responsive-img">

    <ion-list class="home">
      <ion-item >
        <ion-label style="color: white; text-align: left;">
          <p style="font-size: 26px; color: white; text-align: left;">¡Bienvenido a <label style="font-size: 26px; color: darkorange; text-align: left;">BarberHub</label>!</p>
          <p style="color: white; text-align: left;">¡Conecta con los barberos más cercanos según tu ubicación!</p><br><br>
  
          <p style="font-size: 20px; color: white; text-align: left;">¿Quieres registrarte para ser un <label style="font-size: 22px; color: darkorange; text-align: left;">Barbero</label>?</p>
          <p style="color: white; text-align: left;">Solicitamos lo siguiente: </p><br><br>

          <h2 style="font-size: 15px; margin: 0;">Región: {{ Barbero.region }}</h2><br>
          <p style="font-size: 15px; color: white; margin: 0;">Carnet de Identidad Chileno</p> <p>{{ Barbero.carnet }}</p><br>
          <p style="font-size: 15px; color: white; margin: 0;">Barberia (Opcional)</p> <p>{{ Barbero.marca }}</p><br>
          <p style="font-size: 15px; color: white; margin: 0;">Años de Experiencia</p> <p>{{ Barbero.modelo }}</p><br>
        </ion-label>
        
        
      </ion-item>
    <ion-button class="ubi">Ver ubicación</ion-button>
    </ion-list>
  </div>

</ion-content>


